<aside class="my-page-section">
  <ng-container *ngIf="myProfileService.list$() as profile">
    <div class="page-header">
      <h3>{{profile.lastName}} {{profile.firstName}}</h3>
    </div>
  </ng-container>
  <div class="page-content">
    <div class="profile-info">
      <img src="assets/images/img.png" alt="Profile" class="profile-picture">
    </div>
    <div class="page-stats">
      <div class="stats-item">
        <span>Publications : {{ publicationService.list2$().length }}</span>
      </div>

      <div class="stats-item">
        <span>Comments : {{ commentService.List2$().length }}</span>
      </div>
    </div>
  </div>
</aside>
