<aside class="sidebar-shortcuts">
  <div class="shortcuts-header">Shortcuts</div>
  <nav class="shortcuts-nav">
    <ul class="shortcuts-list">
      <li><button class="shortcut-button" (click)="goToMyFeed()">News Feed</button></li>
      <li><button class="shortcut-button" (click)="goToMyProfile()">My Profile</button></li>
      <li><button class="shortcut-button">My Pages</button></li>
      <li><button class="shortcut-button" (click)="disconnect()">Disconnect</button></li>
    </ul>
  </nav>
</aside>
